@font-face {
    font-family: 'montserrat';
    src: url('font/Montserrat-Medium.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

img{
    max-width: 100%;
    display: block;
}

/* CABECALHO */

.cabecalho{
    background-color: black;
    height: 60px;
}

.cabecalho h6{
    color: white;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    line-height: 19.5px;
    padding: 20px;
}

.logo{
    height: 60px;
}

.logo h4{
    color: black;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

/* CONTAINER 1 */

.container{
    height: 300px;
    background: rgba(3, 0, 12, 0.5) url('img/wallpaper.jpeg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100%;
}

.container h1{
    color: white;
    padding-top: 96px;
    padding-left: 100px;
}

.container p{
    color: white;
    width: 560px;
    font-size: 16px;
    padding-top: 26px;
    padding-left: 100px;
    font-weight: 300;   
}

.txt-pt2{
    color: white;
    padding-top: 5px;
    padding-left: 100px;
    font-weight: 500; 
}

.container-2{
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
.destaques-text{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.destaques-text p{
    padding-top: 17px;
    padding-bottom:65px ;
}

/* IMAGENS */

.box-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.img{
    background-color: #EBE9EA;
    margin: 10px;
}

.box-img > div {
    flex: 1 1 228px;
}

.img img{
    padding: 26px;
    min-width: 150px;
}



/* RODAPÉ */
footer {
    background-color: black;
    height: 60px;
    margin-top: 100px;
}

footer h6{
    color: white;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    line-height: 19.5px;
    padding: 20px;
}

@media (max-width: 560px){
    .container{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: block;
        text-align: left;
        justify-content: left;
        align-items: left;
    }

    .container h1{
        margin: 0;
        padding-top: 90px;
        padding-left: 20px;
        font-size: 28px;
        text-align: left;
    }

    .container p{
        display: block;
        direction: row;
        margin: 0;
        width: 378px;
        padding-left: 20px;
        padding-top: 12px;
        text-align: left;
    }
    .img{
        background-color: #EBE9EA;
        margin: 18px 20px;
    }
}

